<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Rezervare generală</title>
</head>

<body style="background-image:url('/pictures/signin_0.jpg');">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<br>

<nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavleft">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html"><b>Acasă</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="companies.html"><b>Companii</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="individuals.html"><b>Individual</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kidsarea.html"><b>Lumea copiilor</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="store.html"><b>Magazinul nostru</b></a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="signin.html"><b>Logare</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register.html"><b>Înregistrați-vă</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">Despre noi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br><br>

<form action="">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">LUANA</h2>
                <h2 class="fw-bold mb-2 text-uppercase">NATURE</h2>
                <br>
                <br>
                <div class="form-outline form-white mb-4">
                  <input type="text" name="user_name" id="user_name" onclick="this.value=''"
                         required="true" class="form-control form-control-lg"/>
                  <label class="form-label" for="user_name">User</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="password" name="password" id="typePasswordX" onclick="this.value=''"
                         required="true" class="form-control form-control-lg"/>
                  <label class="form-label" for="typePasswordX">Parolă</label>
                </div>
                <div align="CENTER" class="form-outline mb-4">
                  <input class="btn btn-primary" type="submit" value="Login">
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit"><a href="indexlogin.html"
                                                                                   class="text-blue-50 fw-bold">Entrance</a>
                </button>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>

                <div>
                  <p class="mb-0">Don't have an account? <a href="register.html"
                                                            class="text-white-50 fw-bold">Sign
                    Up</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</form>


<footer class="text-center text-lg-start bg-body-tertiary text-muted" style="background-color: lightgrey">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class=""></i>Luana Nature
          </h6>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Link-uri utile
          </h6>
          <p>
            <a href="companies.html" class="text-reset">Companii</a>
          </p>
          <p>
            <a href="individuals.html" class="text-reset">Individual</a>
          </p>
          <p>
            <a href="kidsarea.html" class="text-reset">Lumea copiilor</a>
          </p>
          <p>
            <a href="store.html" class="text-reset">Magazinul nostru</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Comuna Fundata, Brasov, RO</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            luananature@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 40 268 477 698</p>
          <p><i class="fas fa-mobile-alt me-3"></i> + 40 724 789 718</p>
          <h6 class="text-uppercase fw-bold mb-4">Rețele sociale</h6>
          <a href="https://www.facebook.com/" class="me-4" style="color: darkslategrey">
            <p><i class="fab fa-facebook-f"></i> Facebook </p>
          </a>
          <a href="https://www.instagram.com/" class="me-4 text-reset">
            <p><i class="fab fa-instagram"></i> Instagram </p>
          </a>
        </div>
        <div>

        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024
    <a class="text-reset fw-bold" href="signinadmin.html">Admin</a>
    <a class="text-reset fw-bold" href="termsofservice.html">Termene și condiții</a>
    <a class="text-reset fw-bold" href="termsofservice.html">Politica de confidențialitate</a>
    <a class="text-reset fw-bold" href="termsofservice.html">Imprint</a>
  </div>
</footer>

</body>
</html>
